// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

//-------- Fonts
// @import "../css/google_fonts/google_font.css";
// @import url('https://fonts.googleapis.com/css?family=Quicksand');
@import "../css/google_fonts/Quicksand.css";
body{
    font-family: 'Quicksand', sans-serif;
}
//-------- End Fonts

// jQuery UI
@import '~jquery-ui/themes/base/all.css';

// Variables
@import 'variables';

@import '~intl-tel-input/build/css/intlTelInput.css';
@import '~@sweetalert2/theme-bootstrap-4/bootstrap-4.scss';
// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import '~select2-bootstrap-theme/dist/select2-bootstrap.min.css';
@import '~select2/dist/css/select2.css'; 
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";


@import "~daterangepicker/daterangepicker.css";
@import "../css/adminlte/adminlte.min.css";
@import "../css/pace/pace.min.css";

/**
 * -------------------------------------------------------------------------------------
 *                                layouts
 * -------------------------------------------------------------------------------------
 */
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

.form-control:focus {
    color: #000000;
    background-color: #fff;
    border-color: #b3b8bd;
    outline: 0;
    box-shadow: inset 0 0 0 transparent;
}

.select2-container--classic.select2-container--open .select2-dropdown {
    border-color:  #b3b8bd;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 2px #b3b8bd !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-color:  #b3b8bd !important;
}

.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #b3b8bd;
}

.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px #b3b8bd !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-color:  #b3b8bd !important;
}

.select2-container--bootstrap .select2-dropdown {
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    border-color: #b3b8bd;
    overflow-x: hidden;
    margin-top: -1px;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #67717c;
    color: #fff;
}

.select2-container--classic .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #67717c;
    color: white;
}

// Dropdown Anchor Hover effect
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
    transition: 0.7s;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #e9ecef;
    transition: 0.7s;
}

// Dropdown Anchor Hover effect


// Siderbar Anchor Hover effect
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: rgba(255,255,255,.1);
    color: #fff;
    transition: 0.7s;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: rgba(255,255,255,.1);
    color: #fff;
    transition: 0.7s;
}
// Siderbar Anchor Hover effect

// Table 
.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0,0,0,.075);
    transition: 0.7s;
}

tr{
    border-bottom: 1px solid #dee2e6!important;
}

td{
    text-align: center; 
    vertical-align: middle;
}

th{
    text-align: center; 
    vertical-align: middle;
}

// Table 


// Table scrollbar styles
.table-responsive::-webkit-scrollbar:hover {
    background-color: #cfcfcf;
}

.table-responsive::-webkit-scrollbar-thumb:hover {
    background-color: #cfcfcf;
    // border-radius: 10px;
    border-color: #cfcfcf;
}

.table-responsive::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    border-radius: 10px;
}

.table-responsive::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #dcdcdc;
}
// Table scrollbar styles

// Font fixes
.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(250px - 1rem) !important;
    transition: width ease-in-out 0.3s;
}

.nav-sidebar .nav-link>.right, .nav-sidebar .nav-link>p>.right {
    position: absolute;
    right: 0.5rem !important;
    top: 0.7rem;
}
// Font fixes

// sidebar styles
.nav-pills .nav-link {
    border-radius: 0rem;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #1d2531;
    color: #fff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: #1d2531;
    color: #FFFFFF;
}

.sidebar-border-left {
    border-left: 2px solid #dee2e6 !important;
}
// sidebar styles

.navbar-shadow {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.025)!important;
}

// .nav-sidebar .nav-treeview .nav-item .nav-link p {
// .nav-sidebar .nav-item .nav-link p {
//     display: inline;
//     margin: 0;
//     white-space: normal;
//     font-size: 14px;
//     font-weight: bold;
// }


[class*=sidebar-dark-] {
    background-color: #263544;
}

// card 
.card-base.card-outline{
    border-top: 3px solid #263544;
}

form .card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #FFFFFF !important;
    border-top: 1px solid #dee2e6!important;
    border-radius: 4px;
}

/* For Listing */
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #FFFFFF !important;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
// card 

// button 
.btn-teal {
    color: #fff;
    background-color: #1cb386;
    border-color: #1cb386;
    box-shadow: none;
}

.btn-teal:hover {
    color: #fff;
    background-color: #1cb386;
    border-color: #1cb386;
}

.btn-base {
    color: #fff;
    background-color: #515d69;
    border-color: #515d69;
    box-shadow: none;
}

.btn-base:hover {
    color: #fff;
    background-color: #3b4956;
    border-color: #3b4956;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #515d69;
    border-color: #515d69;
}

.dropdown-item:active > i {
    color: #fff !important;
}
// button

.rendered-form-parent {
    display: inline-flex;  
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.fa-lg {
    font-size: 0.83333em;
    line-height: .75em;
    vertical-align: -0.0667em;
}

.rendered-form-child {
    width: 250px;
}

@media (min-width: 992px){
    .sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused, .sidebar-mini.sidebar-collapse .main-sidebar:hover {
        width: 275px;
    }
}

 .sign-in-btn-color, .sign-in-btn-color:hover{
    color: #fff;
    background-color: #1789a4;
    border-color: #1789a4;
    box-shadow: none;
 }

.card-color{
    border-top: 3px solid #1789a4;
}

.brand-link .brand-image-xl {
    line-height: .8;
    max-height: 95px;
    width: auto;
}

.brand-anchor-hr{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #4b545c;

    
}

[class*=sidebar-dark] .brand-link{
    border-bottom: none;
}

.brand-link .brand-image-xs {
    float: left;
    line-height: .8;
    margin-top: -0.1rem;
    max-height: 91px;
    width: auto;
}

.layout-fixed .brand-link {
    width: 250px;
    height: 104px;
}

::marker {
    content: none;
}

.inline-flex{
    display: inline-flex;
}

// .iti__flag {background-image: url("http://devs.rocks/php/ufg-form/resources/img/flags.png") ;}
// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//     .iti__flag {background-image: url("http://devs.rocks/php/ufg-form/resources/img/flags@2x.png") !important;}
// }

.iti{ width: 100%;}

/**
 * -------------------------------------------------------------------------------------
 *                                Margin
 * -------------------------------------------------------------------------------------
*/

/*  Side layout Fixed */

// @media (min-width: 768px){
//     body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
//         transition: margin-left .3s ease-in-out;
//         margin-left: 283px;
//     }
// }

// .layout-fixed .main-sidebar {
//     bottom: 0;
//     float: none;
//     left: 0;
//     position: fixed;
//     top: 0;
//     width: 280px;
// }

// .sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
//     width: calc(250px - 0.5rem * -1);
//     transition: width ease-in-out .3s;
// }

// after text-sm on nav-sidebar
.sidebar-mini .main-sidebar .nav-link, .sidebar-mini-md .main-sidebar .nav-link, .sidebar-mini-xs .main-sidebar .nav-link {
    width: calc(250px - 0.5rem * 3);
    transition: width ease-in-out .3s;
}

/*  Side layout Fixed */

.m-point-3{
    margin-right: 0.3rem !important;
} 

.m-1{
    margin-top: 1rem !important;
    margin-right: 1rem !important;
    margin-left: 1rem !important;
    margin-bottom: 1rem !important;
} 

.mt-1{
    margin-top: 1rem !important;
} 

.mt-2{
    margin-top: 2rem !important;
} 

.mt-3{
    margin-top: 3rem !important;
} 

.mt-4{
    margin-top: 4rem !important;
} 

.mb-1-half{
    margin-bottom: 1.5rem !important;
}

.mb-1{
    margin-bottom: 1rem !important;
}

.mb-2{
    margin-bottom: 2rem !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.mr-1{
    margin-right: 1rem !important;
}

.mr-half{
    margin-right: 0.6rem !important;
}

.ml-half{
    margin-left: 0.6rem !important;
}

.lh-2{
    line-height: 2rem !important;
}

.m-12{
    margin: 12px !important;
}

.p-2r{
    padding: 2rem !important;
}

.icon-rm{
    padding-right: 0.1rem !important;
}

.w-11{
    width: 11rem !important;
}

.service-category-btn-color{
    background-color: #2952A3;
    color: white;
    border-color:#2952A3;
}

.cancelled-payment-styling{
    // background-image: url('http://localhost/ufg-form/public/img/cancelled.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position:relative;
    background-position: 50% 50%;

    padding: 1rem;
    background-color:#F5F5F5;
    opacity:0.5;
}

.sortable-spacing{
    // background-color: #e9ecefa1;
    padding-top:2rem; 
    padding-bottom:1.5rem;
}

.note-placeholder {
    width: 460px;
    height: 300px;
}


.double-underline { border-bottom: 3px double; }


/**
 * -------------------------------------------------------------------------------------
 *                                Form Control
 * -------------------------------------------------------------------------------------
*/

// .input-group-text {
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     padding: .375rem .375rem;
//     margin-bottom: 0;
//     font-size: 0.8rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #495057;
//     text-align: center;
//     white-space: nowrap;
//     background-color: #e9ecef;
//     border: 1px solid #ced4da;
//     border-radius: .25rem;
// }

.setting-child-active{
    background-color: rgba(255,255,255,.1);
    color: #fff;
}

.form-control:disabled, .form-control[readonly]{
    background-color: #e9ecefa1;
    opacity: 1;
}

.hide-arrows::-webkit-inner-spin-button, .hide-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.hide-arrows {
    -moz-appearance:textfield !important;
}

.selling-price-other-currency{
    width: 68% !important;
}

.card-title-style{
    font-size: 1.4rem;
    // line-height: 2rem;
}

/**
 * -------------------------------------------------------------------------------------
 *                                Table
 * -------------------------------------------------------------------------------------
*/

.th{    
    width: 15rem;
  }

.td{
    width: 60rem;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 0px !important; 
}

.selectRow {
    display : block;
    padding : 20px;
}

.tbody-highlight{
    background-color: rgba(0,0,0,.05);
}

.tr-bg-color{
    background-color: #ff000038;
}

.table-wrap {
    max-height: 500px;
    overflow-y: auto;
}


.tr-bottom-border-color{
    border-bottom: 1pt solid #dee2e6
}

.quote-col-style{
    justify-content : center!important;
    -webkit-justify-content: center!important;
    display: flex!important;
    border : 1px solid #dee2e6!important;
    font-size: 1.3rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.3rem;
    // padding-right: 0.1rem;
}

.col-style{
    justify-content : center!important;
    -webkit-justify-content: center!important;
    display: flex!important;
    border : 1px solid #dee2e6!important;
    // font-size: 1.3rem;
    padding: 0.7rem;
}

.col-heading-style{
    justify-content : flex-start!important;
    -webkit-justify-content: flex-start!important;
    display: flex!important;
    border : 1px solid #dee2e6!important;
    // font-size: 1.3rem;
    padding: 0.7rem;
}

.col-service-style{
    justify-content : center!important;
    -webkit-justify-content: center!important;
    display: flex!important;
    border : 1px solid #dee2e6!important;
    font-size: 1.3rem;
    padding: 0.7rem;
}

.note-placeholder {
    width: 460px;
    height: 300px;
}

/**
 * -------------------------------------------------------------------------------------
 *                                Select2
 * -------------------------------------------------------------------------------------
*/

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* fix select2 border color on validation */
.is-invalid + .select2-container .select2-selection--single, .is-invalid + .select2-container--classic .select2-selection--multiple {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: text;
    outline: 0;
    padding-bottom: 5px;
    padding-right: 5px;
}

.select2-container .select2-search--inline .select2-search__field {
    box-sizing: border-box;
    border: none;
    font-size: 100%;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    max-width: 100%;
    resize: none;
    height: 25px;
    vertical-align: bottom;
    font-family: sans-serif;
    overflow: hidden;
    word-break: keep-all;
}

/* multiple select placeholder color */
.select2-search__field::placeholder{
    color: #c0c0c0;
    // color: #b6b6b6;
}

/* used in all select options images*/
.option-flag-image {
    vertical-align: middle;
    border-style: none;
    padding-bottom: 4px;
}

.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #FFFFFF;
    border: 1px solid #BEBEBE;
    border-radius: 4px;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0;
}

// .select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
//     background-color: transparent;
//     border: none;
//     border-top-left-radius: 4px;
//     border-bottom-left-radius: 4px;
//     color: #fff;
//     cursor: pointer;
//     font-size: 1em;
//     font-weight: bold;
//     padding: 0 4px;
// }

// .select2-container--classic .select2-selection--multiple .select2-selection__choice__display {
//     cursor: default;
//     padding-left: 2px;
//     color: white;
//     padding-right: 5px;
// }

// .select2-container--classic .select2-selection--multiple .select2-selection__choice {
//     background-color: blue;
//     border: 1px solid #aaa;
//     border-radius: 4px;
//     display: inline-block;
//     margin-left: 5px;
//     margin-top: 5px;
//     padding: 0;
// }

/**
 * -------------------------------------------------------------------------------------
 *                                Quote Managment
 * -------------------------------------------------------------------------------------
*/

// .quote, .cancellation-payments{
    // border: solid 1px #DCDCDC;
    // padding: 20px;
    // margin: 0 auto 15px;
    // float: none;
    // border-radius: 10px;
// }

.search-reference-btn{
    color: #343a40;
    border-color: #a7acb1;
}

.search-reference-btn:hover{
    color: #fff;
    background-color: #343a40;
    border-color: #a7acb1;
}

#sticky_btn {
    padding: 30px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 5%;
}

#sticky_button {
    padding: 25px;
    position: absolute;
    right: 31px;
    bottom: 4px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    /* background-color: #bbb; */
    /* border-radius: 50%; */
    display: inline-block;
    /* background-color: #263544; */
    /* right: 18px;
    bottom: 20px; */
    /* margin: 20%; */
}

div#sticky_btn i.fa.fa-arrow-right {
    position: absolute;
    bottom: 16px;
    right: 15px;
}