// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$flagsImagePath: "~images/vendor/intl_tel_input/";
@import '~intl-tel-input/build/css/intlTelInput.css';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import '~select2-bootstrap-theme/dist/select2-bootstrap.min.css';
@import '~select2/dist/css/select2.css'; 
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css";

/**
 * -------------------------------------------------------------------------------------
 *                                layouts
 * -------------------------------------------------------------------------------------
 */

.inline-flex{
    display: inline-flex;
}


.iti__flag {background-image: url("http://localhost/ufg-form/resources/img/flags.png") ;}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {background-image: url("http://localhost/ufg-form/resources/img/flags@2x.png") !important;}
}
.iti{ width: 100%;}
/**
 * -------------------------------------------------------------------------------------
 *                                Margin
 * -------------------------------------------------------------------------------------
*/

.mt-1{
    margin-top: 1rem !important;
} 

.mt-2{
    margin-top: 2rem !important;
} 

.mt-3{
    margin-top: 3rem !important;
} 

.mb-2{
    margin-bottom: 2rem !important;;
}

.ml-5 {
    margin-left: 5px !important;
}

.mr-1{
    margin-right: 1rem !important;
}

.lh-2{
    line-height: 2rem !important;
}

/**
 * -------------------------------------------------------------------------------------
 *                                Form Control
 * -------------------------------------------------------------------------------------
*/

// .input-group-text {
//     display: -webkit-flex;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     padding: .375rem .375rem;
//     margin-bottom: 0;
//     font-size: 0.8rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #495057;
//     text-align: center;
//     white-space: nowrap;
//     background-color: #e9ecef;
//     border: 1px solid #ced4da;
//     border-radius: .25rem;
// }

.setting-child-active{
    background-color: rgba(255,255,255,.1);
    color: #fff;
}

.form-control:disabled, .form-control[readonly]{
    background-color: #e9ecefa1;
    opacity: 1;
}

.hide-arrows::-webkit-inner-spin-button, .hide-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.hide-arrows {
    -moz-appearance:textfield !important;
}

.selling-price-other-currency{
    width: 68% !important;
}


.card-title-style{

    font-size: 1.5rem;
    line-height: 2rem;
}


/**
 * -------------------------------------------------------------------------------------
 *                                Table
 * -------------------------------------------------------------------------------------
*/

.th{    
    width: 15rem;
  }

.td{
    width: 60rem;
}


.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px !important; 
}

.selectRow {
    display : block;
    padding : 20px;
}

.tbody-highlight{
    background-color: rgba(0,0,0,.05);
}

/**
 * -------------------------------------------------------------------------------------
 *                                Select2
 * -------------------------------------------------------------------------------------
*/

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 38px;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* fix select2 border color on validation */
.is-invalid + .select2-container .select2-selection--single, .is-invalid + .select2-container--classic .select2-selection--multiple {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: text;
    outline: 0;
    padding-bottom: 5px;
    padding-right: 5px;
}


/**
 * -------------------------------------------------------------------------------------
 *                                Quote Managment
 * -------------------------------------------------------------------------------------
*/

.quote{
    border: solid 1px #DCDCDC;
    padding: 20px;
    margin: 0 auto 15px;
    float: none;
    border-radius: 10px;
}

.search-reference-btn{
    color: #343a40;
    border-color: #a7acb1;
}

.search-reference-btn:hover{
    color: #fff;
    background-color: #343a40;
    border-color: #a7acb1;
}
