<div id="build-wrap">
    <div id="frmb-1641646879325-form-wrap" class="form-wrap form-builder ">
       <ul id="frmb-1641646879325" class="frmb stage-wrap pull-left ui-sortable" style="min-height: 431px;">
         <li class="text-field form-field" type="text" id="frmb-1641646879325-fld-1">

            <!--  -->
            <div class="field-actions"><a type="remove" id="del_frmb-1641646879325-fld-1" class="del-button btn formbuilder-icon-cancel delete-confirm" title="Remove Element"></a><a type="edit" id="frmb-1641646879325-fld-1-edit" class="toggle-form btn formbuilder-icon-pencil" title="Edit"></a><a type="copy" id="frmb-1641646879325-fld-1-copy" class="copy-button btn formbuilder-icon-copy" title="Copy"></a></div>
            <label class="field-label">Name</label><span class="required-asterisk" style=""> *</span><span class="tooltip-element" tooltip="undefined" style="display:none">?</span>
            <div class="prev-holder">
               <div class="formbuilder-text form-group field-text-1641628412734-0-preview"><label for="text-1641628412734-0-preview" class="formbuilder-text-label">Name</label><input class="form-control" name="text-1641628412734-0-preview" type="text" id="text-1641628412734-0-preview"></div>
            </div>
            <div id="frmb-1641646879325-fld-1-holder" class="frm-holder" data-field-id="frmb-1641646879325-fld-1">
               <div class="form-elements">
                  <div class="form-group label-wrap" style="display: block">
                     <label for="label-frmb-1641646879325-fld-1">Label</label>
                     <div class="input-wrap">
                        <div name="label" placeholder="Label" class="fld-label form-control" id="label-frmb-1641646879325-fld-1" contenteditable="true">Name</div>
                     </div>
                  </div>
                  <div class="form-group placeholder-wrap" style="display: block">
                     <label for="placeholder-frmb-1641646879325-fld-1">Placeholder</label>
                     <div class="input-wrap"><input name="placeholder" placeholder="" class="fld-placeholder form-control" id="placeholder-frmb-1641646879325-fld-1" value="" type="text"></div>
                  </div>
                  <div class="form-group className-wrap" style="display: none">
                     <label for="className-frmb-1641646879325-fld-1">Class</label>
                     <div class="input-wrap"><input name="className" placeholder="space separated classes" class="fld-className form-control" id="className-frmb-1641646879325-fld-1" value="form-control" type="text"></div>
                  </div>
                  <div class="form-group name-wrap" style="display: none">
                  <label for="name-frmb-1641646879325-fld-1">Name</label>
                  <div class="input-wrap"><input name="name" placeholder="" class="fld-name form-control" id="name-frmb-1641646879325-fld-1" value="text-1641628412734-0" type="text"></div>
                  </div>
                  <div class="form-group value-wrap" style="display: false">
                     <label for="value-frmb-1641646879325-fld-1">Value</label>
                     <div class="input-wrap"><input name="value" placeholder="Value" class="fld-value form-control" id="value-frmb-1641646879325-fld-1" value="" type="text"></div>
                  </div>
                  <div class="form-group subtype-wrap">
                     <label for="subtype-frmb-1641646879325-fld-1">Type</label>
                     <div class="input-wrap">
                        <select id="subtype-frmb-1641646879325-fld-1" name="subtype" class="fld-subtype form-control">
                           <option label="Text Field" value="text" selected="true">Text Field</option>
                           <option label="password" value="password">password</option>
                           <option label="email" value="email">email</option>
                           <option label="color" value="color">color</option>
                           <option label="tel" value="tel">tel</option>
                        </select>
                     </div>
                  </div>
                  <a class="close-field">Close</a>
               </div>
            </div>
          </li>
       
       </ul>
       <div id="frmb-1641646879325-cb-wrap" class="cb-wrap pull-right">
          <ul id="frmb-1641646879325-control-box" class="frmb-control ui-sortable">
             <li class="formbuilder-icon-autocomplete input-control input-control-0 ui-sortable-handle" data-type="autocomplete"><span>Autocomplete</span></li>
             <li class="formbuilder-icon-checkbox-group input-control input-control-6 ui-sortable-handle" data-type="checkbox-group"><span>Checkbox Group</span></li>
             <li class="formbuilder-icon-date input-control input-control-11 ui-sortable-handle" data-type="date"><span>Date Field</span></li>
             <li class="formbuilder-icon-header input-control input-control-4 ui-sortable-handle" data-type="header"><span>Header</span></li>
             <li class="formbuilder-icon-number input-control input-control-12 ui-sortable-handle" data-type="number"><span>Number</span></li>
             <li class="formbuilder-icon-paragraph input-control input-control-3 ui-sortable-handle" data-type="paragraph"><span>Paragraph</span></li>
             <li class="formbuilder-icon-radio-group input-control input-control-7 ui-sortable-handle" data-type="radio-group"><span>Radio Group</span></li>
             <li class="formbuilder-icon-select input-control input-control-5 ui-sortable-handle" data-type="select"><span>Select</span></li>
             <li class="formbuilder-icon-text input-control input-control-9 ui-sortable-handle" data-type="text"><span>Text Field</span></li>
             <li class="formbuilder-icon-textarea input-control input-control-13 ui-sortable-handle" data-type="textarea"><span>Text Area</span></li>
          </ul>
          <div class="form-actions btn-group"><button type="button" id="frmb-1641646879325-clear-action" class="clear-all btn btn-danger">Clear</button><button type="button" id="frmb-1641646879325-data-action" class="btn btn-default get-data">[{…}]</button><button type="button" id="frmb-1641646879325-save-action" class="btn btn-primary save-template">Save</button></div>
       </div>
    </div>
 </div>